@use "./variables";
.section-main-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: black;
  color: variables.$colorLetra;
  border-radius: 10px;
  gap: 10px;
  padding: 50px;
  .movie-card-list {
    display: grid;
    grid-template-columns: 150px 1fr;
    
    .containerM-img {
      width: 130px;
      .post-movie {
        object-fit: cover;
        height: 190px;
        width: 100%;
        border-radius: 10px;
      }
    }
    .div-container-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items:flex-start;
      .div-parte1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100px;
      }
      .movie-overview {
        margin: 6px 0 30px;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .title-movie {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
