@use "./variables";
.section-main-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: black;
  color: variables.$colorLetra;
  border-radius: 0.625rem;
  gap: 0.625rem;
  padding: 3.125rem;
  .movie-card-list {
    display: grid;
    grid-template-columns: 9.375rem 1fr;

    .containerM-img {
      width: 8.125rem;
      .post-movie {
        object-fit: cover;
        height: 11.875rem;
        width: 100%;
        border-radius: 0.625rem;
      }
    }
    .div-container-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      .div-parte1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 6.25rem;
      }
      .movie-overview {
        margin: 0.375rem 0 1.875rem;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .title-movie {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
