@use "./variables";
.section-details {
  background-color: black;
  border-radius: 10px;
  color: variables.$colorLetra;
  padding:30px 0px 200px 0px;

  .div-details-principal {
    padding: 50px;
    
    .div-details-second {
      display: grid;
      grid-template-columns: 400px 1fr;
      .div-details-second-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .description-overview {
        margin: 6px 0 30px;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
